# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv/
venv/
.Python

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Data & models
dataset/
*.h5
*.ckpt
checkpoints/
models/

# Logs
*.log

# Node / Flutter
node_modules/
pubspec.lock

# Docker
docker-compose.override.yml
